<div id="registroView" data-role="view" data-title="" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <header data-role="header">
        <img src="imgs/ic_commonlogo.png" width="100%" height="auto">
        <img src="imgs/ic_applogo.png" width="50%" height="auto">
    </header>
    <div class="lineaGradiente"></div>
    <div class="signup-view">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <tag class="glyph-icon flaticon-envelope"></tag><input id="correoUsuario" type="email" data-bind="value: homeModel.email" placeholder="Correo" required>
                </li>
                <li>
                    <tag class="glyph-icon flaticon-key"></tag><input id="pass1" type="password" data-bind="value: homeModel.password" placeholder="Contraseña">
                </li>
                <li>
                    <tag class="glyph-icon flaticon-key"></tag><input id="pass2" type="password" placeholder="Confirmar contraseña">
                </li>
                <li>
                    <tag class="glyph-icon  flaticon-black-user-shape"></tag><input id="nombreUsuario" type="text" data-bind="value: homeModel.displayName" placeholder="Nombre">
                </li>
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.register }">Registrarse</a>
                <a data-role="button" data-bind="events: { click: homeModel.goToView }">Regresar</a>
            </div>
        </form>
    </div>
    <div data-role="footer" class="lineaGradiente"></div>
    <div data-role="footer">
        <img src="imgs/ic_copyright.png" width="100%" height="auto">
    </div>
</div>