<div data-role="view" data-title="Details" data-model="app.nota.notaModel" data-bind="events: { show: detailsShow }" id="notaModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Detail</span>
            <a data-role="button" data-align="right" data-bind="events: { click: editClick }">Edit</a>
            <a data-role="button" data-align="right" data-bind="events: { click: deleteClick }"><i class="km-icon km-delete"></i></a>
        </div>
    </header>
    <div class="details-content">
        <h3 data-bind="text: currentItem.Nota"></h3>
        <p data-bind="text: currentItem.Categoria"></p>

        <p class="editableListItem"><span>Tipo</span><span data-bind="html: currentItem.Tipo"></span></p>
    </div>
    <!-- START_CUSTOM_CODE_notaModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_notaModel -->
</div>