<div data-role="view" data-title="Notas" data-layout="main" data-model="app.nota" data-show="app.nota.onShow" data-after-show="app.nota.afterShow">

    <!-- START_CUSTOM_CODE_nota -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_nota -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-role="view-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

            <a data-role="button" data-align="right" data-bind="events: { click: notaModel.addClick }">Add</a>
        </div>
    </header>

    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <form class="km-filter-form custom-filter">
        <div class="km-filter-wrap">
            <input type="serach" placeholder="Search..." data-bind="{events:{keyup: notaModel.searchChange}}">
        </div>
    </form>
    <ul data-role="listview" data-auto-bind="false" data-style="" data-template="notaModelTemplate" data-bind="{ source: notaModel.dataSource, events: {click: notaModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul>
    <!-- START_CUSTOM_CODE_notaModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_notaModel -->
    <script type="text/x-kendo-template" id="notaModelTemplate">
        <div class="image-with-text">
            <h3><span class="#: data.icon() #"></span>#: data['Nota'] #</h3>
            # for (var i=0 ; i < data[ 'CategoriaExpanded'].length; i++) { #
            	<p>#= CategoriaExpanded[i] #</p>
            # } #
        </div>
        <p class="editableListItem"><span>Tipo</span>
            # for (var i=0 ; i < data[ 'TipoExpanded'].length; i++) { #
                <span>#= TipoExpanded[i] #</span>
            # } #
        </p>
        <p class="editableListItem"><span>User</span><span>#: data['UsersExpanded'] #</span></p>
    </script>
</div>