<div data-role="view" data-title="Details" data-model="app.nota.notaModel" data-bind="events: { show: detailsShow }" id="notaModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Detalle</span>
            <a data-role="button" data-align="right" data-bind="events: { click: editClick }">Editar</a>
            <a data-role="button" data-align="right" data-bind="events: { click: openModalDelete }"><span class="flaticon-paper-bin"></span></a>
        </div>
        <div class="lineaGradiente"></div>
    </header>
    <!--     <div class="details-content">
        <h3 data-bind="text: currentItem.comentario"></h3>
        <p data-bind="text: currentItem.categorias"></p>

        <p class="editableListItem"><span>Tipo</span><span data-bind="html: currentItem.tipos"></span></p>
    </div>
     -->
    <div class="details-content">
        <h3 data-bind="text: currentItem.comentario"></h3>
        <hr>
        <span>&#8226;</span>
        <p>Categoria</p>
        <p id="categoriaCurrent" style="margin-left: 2.1rem;"></p>
        <hr>
        <span>&#8226;</span>
        <p>Tipo</p>
        <p id="tipoCurrent" style="margin-left: 2.1rem;"></p>
    </div>
    <div class="button-group button-group-vertical">
        <a id="btnGrabarAudio" data-role="button" data-bind="events: {click: captureAudio}">Grabar Audio</a>
    </div>
    <div id="rutaAudio" style="display:none;"></div>
    <div id="rutaBackEnd" style="display:none;"></div>
    <div class="media"></div>
</div>

<div data-role="modalview" id="modalview-eliminar-audio" style="width: 90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Mensaje</span>
            <a onclick="closeModal('modalview-eliminar-audio')" data-role="button" data-align="right"><span class="flaticon-close"></span></a>
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li id="contentDeleteAudio" class="form-content-item"></li>
    </ul>
    <div class="button-group">
        <a id="btnDeleteAudio" data-role="button" class="primary" onclick="deleteAudio();">Aceptar</a>
    </div>
</div>